In [1]:
import pandas as pd

In [23]:
a  = pd.read_csv('anom_order.out', sep = '_', header = None, names = ['ed',' ','eth','File', 'anom','Date'])
a['Date'] = a['Date'].str.split('.').str[0]
a

       ed      eth  File  anom            Date
0      ed NaN  ETH   KIN  anom  20171229143644
1      ed NaN  ETH  BLUE  anom  20171229143547
2      ed NaN  ETH   KIN  anom  20171229143457
3      ed NaN  ETH  BLUE  anom  20171229143443
4      ed NaN  ETH   KIN  anom  20171229143414
5      ed NaN  ETH  BLUE  anom  20171229143356
6      ed NaN  ETH   KIN  anom  20171229143336
7      ed NaN  ETH  BLUE  anom  20171229143313
8      ed NaN  ETH   KIN  anom  20171229143215
9      ed NaN  ETH  BLUE  anom  20171229143158
10     ed NaN  ETH   KIN  anom  20171229143057
11     ed NaN  ETH   KIN  anom  20171229143005
12     ed NaN  ETH   KIN  anom  20171229142855
13     ed NaN  ETH   KIN  anom  20171229142732
14     ed NaN  ETH   KIN  anom  20171229142703
15     ed NaN  ETH   KIN  anom  20171229142552
16     ed NaN  ETH   KIN  anom  20171229142427
17     ed NaN  ETH   KIN  anom  20171229142335
18     ed NaN  ETH   KIN  anom  20171229142228
19     ed NaN  ETH   KIN  anom  20171229142044
20     ed NaN  ETH   KIN  anom  20171229141954
21     ed NaN  ETH   KIN  anom  20171229141941
22     ed NaN  ETH   KIN  anom  20171229141804
23     ed NaN  ETH   KIN  anom  20171229141732
24     ed NaN  ETH   KIN  anom  20171229141623
25     ed NaN  ETH   KIN  anom  20171229141219
26     ed NaN  ETH   KIN  anom  20171229141157
27     ed NaN  ETH   KIN  anom  20171229140902
28     ed NaN  ETH   KIN  anom  20171229140224
29     ed NaN  ETH   KIN  anom  20171229140040
...    ..  ..  ...   ...   ...             ...
25869  ed NaN  ETH   XNN  anom  20171127191618
25870  ed NaN  ETH   XNN  anom  20171127190220
25871  ed NaN  ETH  BLUE  anom  20171127190054
25872  ed NaN  ETH  BLUE  anom  20171127185953
25873  ed NaN  ETH   XNN  anom  20171127185423
25874  ed NaN  ETH   ZRX  anom  20171127185111
25875  ed NaN  ETH   XNN  anom  20171127184748
25876  ed NaN  ETH   XNN  anom  20171127184008
25877  ed NaN  ETH  BLUE  anom  20171127181131
25878  ed NaN  ETH   XNN  anom  20171127180507
25879  ed NaN  ETH   KNC  anom  20171127180410
25880  ed NaN  ETH  BLUE  anom  20171127180144
25881  ed NaN  ETH  BLUE  anom  20171127175310
25882  ed NaN  ETH   XNN  anom  20171127175215
25883  ed NaN  ETH   XNN  anom  20171127174959
25884  ed NaN  ETH  BLUE  anom  20171127174324
25885  ed NaN  ETH   XNN  anom  20171127174129
25886  ed NaN  ETH   XNN  anom  20171127174001
25887  ed NaN  ETH  BLUE  anom  20171127173919
25888  ed NaN  ETH  BLUE  anom  20171127173048
25889  ed NaN  ETH   XNN  anom  20171127172530
25890  ed NaN  ETH  BLUE  anom  20171127172431
25891  ed NaN  ETH  BLUE  anom  20171127172127
25892  ed NaN  ETH   XNN  anom  20171127171910
25893  ed NaN  ETH   XNN  anom  20171127171728
25894  ed NaN  ETH  BLUE  anom  20171127171646
25895  ed NaN  ETH   XNN  anom  20171127170551
25896  ed NaN  ETH   XNN  anom  20171127165808
25897  ed NaN  ETH   XNN  anom  20171127164914
25898  ed NaN  ETH   XNN  anom  20171127164450

[25899 rows x 6 columns]

In [42]:
a['Date'] = pd.to_datetime(a['Date'], unit = 'ns')
a1 = pd.DataFrame(a.File.value_counts())
a11 = a1.rename(columns = {'File' : 'No_of_files'})
a11.index.name = 'File'
a11.head(5)
a11.to_csv('no_of_files_created.csv')
a11

      No_of_files
File
KIN          7107
CVC          3794
KNC          3368
BAT          3324
BLUE         2718
ZRX          2139
XNN          1659
MKR          1329
ATM           461

In [40]:
a['new_date'] = [i.date() for i in a['Date']]
a['new_time'] = [j.time() for j in a['Date']]

In [41]:
a

       ed      eth  File  anom                Date    new_date  new_time
0      ed NaN  ETH   KIN  anom 2017-12-29 14:36:44  2017-12-29  14:36:44
1      ed NaN  ETH  BLUE  anom 2017-12-29 14:35:47  2017-12-29  14:35:47
2      ed NaN  ETH   KIN  anom 2017-12-29 14:34:57  2017-12-29  14:34:57
3      ed NaN  ETH  BLUE  anom 2017-12-29 14:34:43  2017-12-29  14:34:43
4      ed NaN  ETH   KIN  anom 2017-12-29 14:34:14  2017-12-29  14:34:14
5      ed NaN  ETH  BLUE  anom 2017-12-29 14:33:56  2017-12-29  14:33:56
6      ed NaN  ETH   KIN  anom 2017-12-29 14:33:36  2017-12-29  14:33:36
7      ed NaN  ETH  BLUE  anom 2017-12-29 14:33:13  2017-12-29  14:33:13
8      ed NaN  ETH   KIN  anom 2017-12-29 14:32:15  2017-12-29  14:32:15
9      ed NaN  ETH  BLUE  anom 2017-12-29 14:31:58  2017-12-29  14:31:58
10     ed NaN  ETH   KIN  anom 2017-12-29 14:30:57  2017-12-29  14:30:57
11     ed NaN  ETH   KIN  anom 2017-12-29 14:30:05  2017-12-29  14:30:05
12     ed NaN  ETH   KIN  anom 2017-12-29 14:28:55  2017-12-29  14:28:55
13     ed NaN  ETH   KIN  anom 2017-12-29 14:27:32  2017-12-29  14:27:32
14     ed NaN  ETH   KIN  anom 2017-12-29 14:27:03  2017-12-29  14:27:03
15     ed NaN  ETH   KIN  anom 2017-12-29 14:25:52  2017-12-29  14:25:52
16     ed NaN  ETH   KIN  anom 2017-12-29 14:24:27  2017-12-29  14:24:27
17     ed NaN  ETH   KIN  anom 2017-12-29 14:23:35  2017-12-29  14:23:35
18     ed NaN  ETH   KIN  anom 2017-12-29 14:22:28  2017-12-29  14:22:28
19     ed NaN  ETH   KIN  anom 2017-12-29 14:20:44  2017-12-29  14:20:44
20     ed NaN  ETH   KIN  anom 2017-12-29 14:19:54  2017-12-29  14:19:54
21     ed NaN  ETH   KIN  anom 2017-12-29 14:19:41  2017-12-29  14:19:41
22     ed NaN  ETH   KIN  anom 2017-12-29 14:18:04  2017-12-29  14:18:04
23     ed NaN  ETH   KIN  anom 2017-12-29 14:17:32  2017-12-29  14:17:32
24     ed NaN  ETH   KIN  anom 2017-12-29 14:16:23  2017-12-29  14:16:23
25     ed NaN  ETH   KIN  anom 2017-12-29 14:12:19  2017-12-29  14:12:19
26     ed NaN  ETH   KIN  anom 2017-12-29 14:11:57  2017-12-29  14:11:57
27     ed NaN  ETH   KIN  anom 2017-12-29 14:09:02  2017-12-29  14:09:02
28     ed NaN  ETH   KIN  anom 2017-12-29 14:02:24  2017-12-29  14:02:24
29     ed NaN  ETH   KIN  anom 2017-12-29 14:00:40  2017-12-29  14:00:40
...    ..  ..  ...   ...   ...                 ...         ...       ...
25869  ed NaN  ETH   XNN  anom 2017-11-27 19:16:18  2017-11-27  19:16:18
25870  ed NaN  ETH   XNN  anom 2017-11-27 19:02:20  2017-11-27  19:02:20
25871  ed NaN  ETH  BLUE  anom 2017-11-27 19:00:54  2017-11-27  19:00:54
25872  ed NaN  ETH  BLUE  anom 2017-11-27 18:59:53  2017-11-27  18:59:53
25873  ed NaN  ETH   XNN  anom 2017-11-27 18:54:23  2017-11-27  18:54:23
25874  ed NaN  ETH   ZRX  anom 2017-11-27 18:51:11  2017-11-27  18:51:11
25875  ed NaN  ETH   XNN  anom 2017-11-27 18:47:48  2017-11-27  18:47:48
25876  ed NaN  ETH   XNN  anom 2017-11-27 18:40:08  2017-11-27  18:40:08
25877  ed NaN  ETH  BLUE  anom 2017-11-27 18:11:31  2017-11-27  18:11:31
25878  ed NaN  ETH   XNN  anom 2017-11-27 18:05:07  2017-11-27  18:05:07
25879  ed NaN  ETH   KNC  anom 2017-11-27 18:04:10  2017-11-27  18:04:10
25880  ed NaN  ETH  BLUE  anom 2017-11-27 18:01:44  2017-11-27  18:01:44
25881  ed NaN  ETH  BLUE  anom 2017-11-27 17:53:10  2017-11-27  17:53:10
25882  ed NaN  ETH   XNN  anom 2017-11-27 17:52:15  2017-11-27  17:52:15
25883  ed NaN  ETH   XNN  anom 2017-11-27 17:49:59  2017-11-27  17:49:59
25884  ed NaN  ETH  BLUE  anom 2017-11-27 17:43:24  2017-11-27  17:43:24
25885  ed NaN  ETH   XNN  anom 2017-11-27 17:41:29  2017-11-27  17:41:29
25886  ed NaN  ETH   XNN  anom 2017-11-27 17:40:01  2017-11-27  17:40:01
25887  ed NaN  ETH  BLUE  anom 2017-11-27 17:39:19  2017-11-27  17:39:19
25888  ed NaN  ETH  BLUE  anom 2017-11-27 17:30:48  2017-11-27  17:30:48
25889  ed NaN  ETH   XNN  anom 2017-11-27 17:25:30  2017-11-27  17:25:30
25890  ed NaN  ETH  BLUE  anom 2017-11-27 17:24:31  2017-11-27  17:24:31
25891  ed NaN  ETH  BLUE  anom 2017-11-27 17:21:27  2017-11-27  17:21:27
25892  ed NaN  ETH   XNN  anom 2017-11-27 17:19:10  2017-11-27  17:19:10
25893  ed NaN  ETH   XNN  anom 2017-11-27 17:17:28  2017-11-27  17:17:28
25894  ed NaN  ETH  BLUE  anom 2017-11-27 17:16:46  2017-11-27  17:16:46
25895  ed NaN  ETH   XNN  anom 2017-11-27 17:05:51  2017-11-27  17:05:51
25896  ed NaN  ETH   XNN  anom 2017-11-27 16:58:08  2017-11-27  16:58:08
25897  ed NaN  ETH   XNN  anom 2017-11-27 16:49:14  2017-11-27  16:49:14
25898  ed NaN  ETH   XNN  anom 2017-11-27 16:44:50  2017-11-27  16:44:50

[25899 rows x 8 columns]

In [43]:
a2 = pd.DataFrame(a.Date.value_counts())
a22= a2.rename(columns = {'Date' : 'files_created_on that_day'})
a22.index.name = 'Date'
a22.head(5)
a22.to_csv('files_on date.csv')
a22

                     files_created_on that_day
Date
2017-12-25 09:36:32                          1
2017-12-23 02:32:05                          1
2017-12-28 07:05:27                          1
2017-12-26 00:07:28                          1
2017-12-19 22:45:07                          1
2017-12-23 02:29:57                          1
2017-12-18 22:19:27                          1
2017-12-27 21:20:31                          1
2017-12-20 03:39:03                          1
2017-12-23 00:04:15                          1
2017-12-28 05:54:20                          1
2017-12-19 15:27:29                          1
2017-12-18 22:21:35                          1
2017-12-23 01:42:29                          1
2017-12-25 21:43:54                          1
2017-12-28 08:22:34                          1
2017-12-23 17:12:17                          1
2017-12-28 12:02:51                          1
2017-12-24 01:45:58                          1
2017-11-28 12:29:08                          1
2017-12-28 03:30:46                          1
2017-12-23 02:34:13                          1
2017-12-18 14:44:55                          1
2017-12-23 17:05:35                          1
2017-12-23 17:08:01                          1
2017-12-28 02:11:31                          1
2017-12-26 15:53:09                          1
2017-12-18 23:30:10                          1
2017-12-29 06:11:12                          1
2017-12-28 08:11:54                          1
...                                        ...
2017-12-18 18:00:15                          1
2017-12-27 19:58:48                          1
2017-12-28 12:34:55                          1
2017-12-29 04:27:56                          1
2017-12-28 23:26:40                          1
2017-12-29 03:03:47                          1
2017-12-23 16:14:00                          1
2017-12-26 13:58:37                          1
2017-12-22 14:34:59                          1
2017-12-24 19:07:06                          1
2017-12-22 23:08:30                          1
2017-12-23 02:48:33                          1
2017-12-23 17:28:21                          1
2017-12-28 00:05:53                          1
2017-12-28 04:59:25                          1
2017-12-20 06:24:41                          1
2017-12-27 21:40:11                          1
2017-12-25 04:55:30                          1
2017-12-28 13:33:28                          1
2017-12-20 03:58:59                          1
2017-12-24 04:29:58                          1
2017-12-29 07:26:49                          1
2017-12-24 05:44:19                          1
2017-12-28 07:28:35                          1
2017-12-27 21:41:46                          1
2017-12-27 20:30:06                          1
2017-12-28 00:10:09                          1
2017-12-25 11:05:15                          1
2017-12-22 18:20:34                          1
2017-12-28 20:03:09                          1

[25899 rows x 1 columns]